@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafbfc;
  --foreground: #0f172a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
